<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gennlife.crf.mapper.CrfTemplateTest4Mapper">
	<resultMap id="BaseResultMap" type="com.gennlife.crf.bean.CrfTemplateTest4">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="baseName" property="baseName" jdbcType="VARCHAR" />
		<result column="chineseName" property="chineseName" jdbcType="VARCHAR" />
		<result column="englishName" property="englishName" jdbcType="VARCHAR" />
		<result column="idXpath" property="idXpath" jdbcType="VARCHAR" />
		<result column="dataType" property="dataType" jdbcType="VARCHAR" />
		<result column="variableType" property="variableType" jdbcType="VARCHAR" />
		<result column="dateFormat" property="dateFormat" jdbcType="VARCHAR" />
		<result column="rangeData" property="rangeData" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="CrfTemplateTest4_Column_List">
		id, baseName,
		chineseName,englishName,idXpath,dataType,variableType,dateFormat,rangeData
	</sql>
	
	<!--  查询CrfTemplateTest4列表数据 -->
	<select id="getCrfTemplateTest4List" resultMap="BaseResultMap" parameterType="java.util.Map">
		SELECT
		<include refid="CrfTemplateTest4_Column_List"></include>
		from crf_template_yantai_test4
	</select>

	<!-- 通过baseName查询列表 -->
	<select id="getCrfTemplateTest4ListByBaseName" resultMap="BaseResultMap" parameterType="java.lang.String">
		SELECT
		<include refid="CrfTemplateTest4_Column_List"></include>
		from crf_template_yantai_test4
		where baseName=#{baseName}
	</select>

</mapper>