<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gennlife.crf.mapper.RwsMapper">
	<resultMap id="BaseResultMap" type="com.gennlife.crf.bean.RwsBean">
		<result column="id" property="id" jdbcType="VARCHAR" />
		<result column="result" property="result" jdbcType="VARCHAR" />
		<result column="time" property="time" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Rws_Column_List">
		id,result, time
	</sql>

	<!-- 插入Rws -->
	<insert id="insertRws" parameterType="com.gennlife.crf.bean.RwsBean">
		INSERT INTO rws(id,result,time) VALUES(#{id},#{result},#{time})
	</insert>

</mapper>