<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gennlife.crf.mapper.SysOpMapper" >

  <resultMap id="BaseResultMap" type="com.gennlife.crf.bean.SysOp" >
    <id column="OP_ID" property="opId" jdbcType="INTEGER" />
    <result column="LOGIN_NAME" property="loginName" jdbcType="VARCHAR" />
    <result column="LOGIN_PASSWD" property="loginPasswd" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="SysOpMapper_Column_List" >
    OP_ID, LOGIN_NAME, LOGIN_PASSWD
  </sql>
  
  <!-- 根据用户名和密码查询用户 -->
  <select id="getSysOpByUnameAndPwd" resultMap="BaseResultMap" parameterType="com.gennlife.crf.bean.SysOp">
  	SELECT 
	<include refid="SysOpMapper_Column_List"></include>
  	 from sys_op s 
	 where s.LOGIN_NAME= #{loginName}
	 <if test="loginPasswd != null">
		and s.LOGIN_PASSWD= #{loginPasswd}
	 </if>
  </select>
  
</mapper>